<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.vit.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.vit.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.vit.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>com.vit.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCarsServlet</servlet-name>
        <servlet-class>com.vit.ViewCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarsServlet</servlet-name>
        <servlet-class>com.vit.SearchCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarDetailsServlet</servlet-name>
        <servlet-class>com.vit.CarDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCarServlet</servlet-name>
        <servlet-class>com.vit.AddCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCarServlet</servlet-name>
        <servlet-class>com.vit.EditCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCarServlet</servlet-name>
        <servlet-class>com.vit.DeleteCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceScheduleServlet</servlet-name>
        <servlet-class>com.vit.ServiceScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServiceHistoryServlet</servlet-name>
        <servlet-class>com.vit.ServiceHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <servlet-class>com.vit.AdminDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.vit.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCarsServlet</servlet-name>
        <servlet-class>com.vit.ManageCarsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.vit.ContactServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCarsServlet</servlet-name>
        <url-pattern>/ViewCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarsServlet</servlet-name>
        <url-pattern>/SearchCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarDetailsServlet</servlet-name>
        <url-pattern>/CarDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCarServlet</servlet-name>
        <url-pattern>/AddCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCarServlet</servlet-name>
        <url-pattern>/EditCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCarServlet</servlet-name>
        <url-pattern>/DeleteCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceScheduleServlet</servlet-name>
        <url-pattern>/ServiceScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServiceHistoryServlet</servlet-name>
        <url-pattern>/ServiceHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashboardServlet</servlet-name>
        <url-pattern>/AdminDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCarsServlet</servlet-name>
        <url-pattern>/ManageCarsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
